# 1. Paste everything from your .gitignore first

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# AI
.claude/settings.local.json

# PostHog
/.posthog-wizard-cache


# 2. Add native folders if you want them generated fresh by prebuild
# /android
# /ios


# 3. FORCE EAS to include the .env file (must be at the bottom)
!.env
!.env*.local