<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208563783798-uj5b0cm8o236k439pfqbv57r1gds98s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208563783798-uj5b0cm8o236k439pfqbv57r1gds98s7</string>
	<key>API_KEY</key>
	<string>AIzaSyD7eTTXkW0crVL4hVT4cn72fgzoR9Mb0co</string>
	<key>GCM_SENDER_ID</key>
	<string>208563783798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magicmedia.maplace</string>
	<key>PROJECT_ID</key>
	<string>ma-place</string>
	<key>STORAGE_BUCKET</key>
	<string>ma-place.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208563783798:ios:2359abd3461abd4fcf7757</string>
	<key>DATABASE_URL</key>
	<string>https://ma-place.firebaseio.com</string>
</dict>
</plist>